<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.epsilon.evl.incremental.dt.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="false"
            class="org.eclipse.epsilon.evl.incremental.validation.StaticEvlConstraintProvider"
            mode="Live">
         <package
               namespaceUri="*">
         </package>
      </constraintProvider>
   </extension>

</plugin>
