<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="library.evl"
            namespaceURI="org.eclipse.epsilon.evl.incremental.example.library">
      </constraintsBinding>
   </extension>

</plugin>
